In [113]:
import numpy as np
import pandas as pd

from fastparquet import ParquetFile,write
import matplotlib.pyplot as plt
from matplotlib import cm
from tqdm import tqdm

from sklearn.preprocessing import MinMaxScaler
from cm2df import cm2df,precision_recall_fscore_support_metrics2df
from sklearn.metrics import confusion_matrix, classification_report,precision_recall_fscore_support
import pickle
from bson.json_util import dumps
from tqdm import tqdm
import re

In [4]:
filename = 'finalized_model111819.sav'
# loading the model from disk
model = pickle.load(open(filename, 'rb'))

In [5]:
usecolsX=['category', 'past', 'is_eventbrite', 'is_free', 'doors',
       'sold_out', 'venue.id', 'venue.popularity', 'venue.zip',
       'ticket_allages', 'ticket_price_low', 'ticket_price_max', 'min_age',
       'artist.popularity.sum', 'artist.popularity.avg',
       'artist.popularity.max', 'dow', 'doy', 'month', 'day', 'hour',
       'venue.tol_num_events', 'duration', 'duration_day', 'multiday']
usecoly1=['votes']
usecoly2=['avg_votes_pday']

In [13]:
import pymongo
import json
import pprint
from pymongo import MongoClient, GEO2D
import datetime
import json
import pprint

In [8]:
local='mongodb://localhost:27017/'
remote="mongodb+srv://Tien:thcindy0161@cluster0-exf50.gcp.mongodb.net/test?retryWrites=true&w=majority"

In [9]:
myclient = pymongo.MongoClient(local)

In [10]:
db = myclient["eventful"]

In [39]:
db.list_collection_names()

['events', 'capmetro', 'ride_share_data']

In [21]:
db.events.index_information()

{'_id_': {'v': 2, 'key': [('_id', 1)], 'ns': 'eventful.events'},
 'event_id_1_source_1': {'v': 2,
  'unique': True,
  'key': [('event_id', 1), ('source', 1)],
  'ns': 'eventful.events'},
 'venue.location.coordinates_2d': {'v': 2,
  'key': [('venue.location.coordinates', '2d')],
  'ns': 'eventful.events'}}

In [22]:
fpath='../TestMgdb/AustinCapMetroSimple.geojson'
# Fetch the CapMetro Service Area coordinates from geojson
with open(fpath,'r') as rb:
    outj=json.load(rb)
polycord=outj['features'][0]['geometry']['coordinates'][0][0]

### read from daily do512 json file since collected database does not contain some info for features

In [93]:
# start off the dataframe 
ncolumns=['id','event_name','category','past', 'is_eventbrite', 'is_free', 'doors','sold_out', 'venue.id', 'venue.popularity', 'venue.zip','ticket_info', 'artist','tz_adjusted_begin_date','tz_adjusted_end_date','votes']
ev_df=pd.DataFrame(columns=ncolumns)

In [94]:
with open('events_ev512_101819.json','r',encoding="utf8") as jfile:
    content = json.load(jfile)
    events=content['events']
    print("number of events on the day:",len(events))
    for evt in events:
        # new list
        ev_list=[]
        ev_list+=[evt['id']]
        ev_list+=[evt['title']]
        ev_list+=[evt['category']]
        ev_list+=[evt['past']]
        ev_list+=[evt['is_eventbrite']]
        ev_list+=[evt['is_free']]
        ev_list+=[evt['doors']]
        ev_list+=[evt['sold_out']]
        ev_list+=[evt['venue']['id']]
        ev_list+=[evt['venue']['popularity']]
        ev_list+=[evt['venue']['zip']]
        ev_list+=[evt['ticket_info']]
        ev_list+=[evt['artists']]
        ev_list+=[evt['tz_adjusted_begin_date']]
        ev_list+=[evt['tz_adjusted_end_date']]
        ev_list+=[evt['votes']]
        #save list to dataframe
        ev_df.loc[len(ev_df.index)] = ev_list

number of events on the day: 25

In [95]:
ev_df.head()

,id,event_name,category,past,is_eventbrite,is_free,doors,sold_out,venue.id,venue.popularity,venue.zip,ticket_info,artist,tz_adjusted_begin_date,tz_adjusted_end_date,votes
0,11165035,HUMP! Film Festival,Film + TV,True,False,False,False,False,275011,1.0,78702,,[],2019-10-18T18:00:00-05:00,2019-10-20T02:00:00-05:00,418
1,10869308,Billy Strings,Music,True,False,False,True,True,654,15.0,78702,All Ages,"[{'id': 811471, 'title': 'Billy Strings', 'per...",2019-10-18T19:30:00-05:00,2019-10-19T02:00:00-05:00,363
2,10656191,Julia Michaels w/ Rhys Lewis,Music,True,False,False,True,False,175439,15.0,78741,$25-435,"[{'id': 1004639, 'title': 'Julia Michaels', 'p...",2019-10-18T19:00:00-05:00,2019-10-19T02:00:00-05:00,155
3,10896901,Steve Gunn,Music,True,False,False,True,False,771,4.0,78701,$30 | All Ages,"[{'id': 843864, 'title': 'STEVE GUNN', 'permal...",2019-10-18T21:30:00-05:00,2019-10-19T02:00:00-05:00,73
4,11098913,Cass McCombs - Day One,Music,True,False,False,True,False,378359,1.0,78701,$25.00 | All Ages,"[{'id': 39778, 'title': 'Cass McCombs', 'perma...",2019-10-18T20:00:00-05:00,2019-10-19T02:00:00-05:00,69

In [97]:
vzip=ev_df['venue.zip'].values
# cleanup the zipcodes
vzip=[str(x).split(' ')[0] for x in vzip]
vzip=['' if x=='Austin' else x for x in vzip]
vzip=['' if x=='nan' else x for x in vzip]
vzip=['' if len(x)<5 else x for x in vzip]

In [102]:
vzip=[int(x) if x.isdigit() else 0 for x in vzip]

In [105]:
ev_df['venue.zip']=vzip

In [114]:
# clean up ticket infomation
# insert new columns
ev_df['ticket_allages']=[False for x in range(len(ev_df))]
ev_df['ticket_price_low']=[0 for x in range(len(ev_df))]
ev_df['ticket_price_max']=[0 for x in range(len(ev_df))]
ev_df['min_age']=[None for x in range(len(ev_df))]

# parse ticket info string
tkt_str=ev_df.ticket_info.values

# dump all info of ticket into other columns
for i,item in tqdm(enumerate(tkt_str)):
    if i%1000==0:print(i)
    #check 'free'
    if "free" in item.lower() : ev_df.loc[i,'is_free']=True
    # check child ok        
    if ("all ages" in item.lower()) or ("kids" in item.lower()) or ("child" in item.lower()): ev_df.loc[i,'ticket_allages']=True
    
    #replace all whitespace after '$'    
    item = re.sub('\$ ','$',item)
    prices=re.findall('(?<=\$)\d*\.?\d*', item)
    # get all lower/upper $number
    if prices: # not [] or None
        if prices[0].isdigit():
            if len(prices)==1: 
                ev_df.loc[i,'ticket_price_low']=prices[0]
                ev_df.loc[i,'ticket_price_max']=None
            else:
                #convert all prices to numbers , in case any of them not number
                nprices=[float(x) for x in prices if x.isdigit()]
                
                ev_df.loc[i,'ticket_price_low']=min(nprices)
                ev_df.loc[i,'ticket_price_max']=max(nprices)      
    # get minimum age
    min_ag=re.findall(r"(\d+)\+",item)
    if min_ag:
        ev_df.loc[i,'min_age']=int(min_ag[0])
    else:ev_df.loc[i,'min_age']=None

0it [00:00, ?it/s]

0

25it [00:00, 808.59it/s]

In [109]:
# parse artist information
# get artist column andef
e_artist=ev_df.artist.values
#get artist_popularity
p_art_avg=[]
p_art_sum=[]
p_art_max=[]
for item in e_artist:
    if len(item)==0:
        p_art_sum+=[0]
        p_art_avg+=[0]
        p_art_max+=[0]
    elif len(item)==1:
        p_art_sum+=[json.loads(dumps(item))[0]['popularity']]
        p_art_avg+=[json.loads(dumps(item))[0]['popularity']]
        p_art_max+=[json.loads(dumps(item))[0]['popularity']]
    else:
        subsum=0
        partmax=0
        for sub in item:
            part=json.loads(dumps(item))[0]['popularity']
            subsum+=part
            if part> partmax: partmax=part
        p_art_sum+=[subsum]
        p_art_avg+=[subsum/len(item)]
        p_art_max+=[partmax]

In [112]:
ev_df['artist.popularity.sum']=p_art_sum
ev_df['artist.popularity.avg']=p_art_avg
ev_df['artist.popularity.max']=p_art_max

In [116]:
# setting the time and get the time features
ev_df['tz_adjusted_begin_date']=pd.to_datetime(ev_df['tz_adjusted_begin_date'])
ev_df['tz_adjusted_end_date']=pd.to_datetime(ev_df['tz_adjusted_end_date'])


ev_df['duration']=(ev_df['tz_adjusted_end_date']-ev_df['tz_adjusted_begin_date']).apply(lambda x:x/ np.timedelta64(1, 'h'))
ev_df['duration_day']=ev_df['duration'].apply(lambda x:np.ceil(x/24))
a=ev_df['duration'].values/24
multid=[True if x >=1 else False for x in a]
ev_df['multiday']=multid
# fix duration_day=0
ev_df=ev_df.replace({'duration':0},2)
ev_df=ev_df.replace({'duration_day':0},1)

In [120]:
ev_df['dow']=ev_df['tz_adjusted_begin_date'].dt.dayofweek
ev_df['doy']=ev_df['tz_adjusted_begin_date'].dt.dayofyear
ev_df['month']=ev_df['tz_adjusted_begin_date'].dt.month
ev_df['day']=ev_df['tz_adjusted_begin_date'].dt.day
ev_df['hour']=ev_df['tz_adjusted_begin_date'].dt.hour

In [123]:
### drop some redundant columns
ev_df.drop(['ticket_info', 'artist','tz_adjusted_begin_date','tz_adjusted_end_date'], axis=1, inplace=True)

In [124]:
ev_df.head()

,id,event_name,category,past,is_eventbrite,is_free,doors,sold_out,venue.id,venue.popularity,...,ticket_price_max,min_age,duration,duration_day,multiday,dow,doy,month,day,hour
0,11165035,HUMP! Film Festival,Film + TV,True,False,False,False,False,275011,1.0,...,0.0,None,32.0,2.0,True,4,291,10,18,18
1,10869308,Billy Strings,Music,True,False,False,True,True,654,15.0,...,0.0,None,6.5,1.0,False,4,291,10,18,19
2,10656191,Julia Michaels w/ Rhys Lewis,Music,True,False,False,True,False,175439,15.0,...,NaN,None,7.0,1.0,False,4,291,10,18,19
3,10896901,Steve Gunn,Music,True,False,False,True,False,771,4.0,...,NaN,None,4.5,1.0,False,4,291,10,18,21
4,11098913,Cass McCombs - Day One,Music,True,False,False,True,False,378359,1.0,...,0.0,None,6.0,1.0,False,4,291,10,18,20

In [293]:
### Add the total events host at the venue , query from past year library
# load back training file
pf=ParquetFile('full_3rd_eventfeatures_110619.parq')
toevv=pf.to_pandas()[['venue.tol_num_events','venue.id']]

In [294]:
toevv.drop_duplicates(subset='venue.id',inplace=True)

In [295]:
toevv.head()

          venue.tol_num_events  venue.id
id
11049447                   377       113
11049456                   116    175439
11049430                   237       654
11141496                   244    302617
11109390                    85      3519

In [296]:
toevv.to_csv('Dataset_Lib/TotalEventsPerVenueID2018.csv')

In [155]:
# query venue id then input number
tolnev=[]
venid=ev_df['venue.id'].values
lvenid=toevv['venue.id'].values
for idn in venid:
    if idn in lvenid:tolnev+=[toevv.loc[toevv['venue.id']==idn].iloc[0,0]]
    else:tolnev+=[1]

In [156]:
ev_df['venue.tol_num_events']=tolnev

In [188]:
ev_df.past=ev_df.past.astype(bool)
ev_df.is_eventbrite=ev_df.is_eventbrite.astype(bool)
ev_df.doors=ev_df.doors.astype(bool)
ev_df.sold_out=ev_df.sold_out.astype(bool)

In [189]:
ev_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 24
Data columns (total 26 columns):
category                 25 non-null object
past                     25 non-null bool
is_eventbrite            25 non-null bool
is_free                  25 non-null int32
doors                    25 non-null bool
sold_out                 25 non-null bool
venue.id                 25 non-null object
venue.popularity         25 non-null float64
venue.zip                25 non-null int64
ticket_allages           25 non-null int32
ticket_price_low         25 non-null object
ticket_price_max         25 non-null float64
min_age                  25 non-null int64
artist.popularity.sum    25 non-null float64
artist.popularity.avg    25 non-null float64
artist.popularity.max    25 non-null float64
dow                      25 non-null int64
doy                      25 non-null int64
month                    25 non-null int64
day                      25 non-null int64
hour                     25 non-null int64
venue.tol_num_events     25 non-null int64
duration                 25 non-null float64
duration_day             25 non-null float64
multiday                 25 non-null int32
votes                    25 non-null object
dtypes: bool(4), float64(7), int32(3), int64(8), object(4)
memory usage: 4.9+ KB

In [193]:
ev_df.head()

,category,past,is_eventbrite,is_free,doors,sold_out,venue.id,venue.popularity,venue.zip,ticket_allages,...,dow,doy,month,day,hour,venue.tol_num_events,duration,duration_day,multiday,votes
0,Film + TV,1,0,0,0,0,275011,1.0,78702,0,...,4,291,10,18,18,1,32.0,2.0,1,418
1,Music,1,0,0,1,1,654,15.0,78702,1,...,4,291,10,18,19,5,6.5,1.0,0,363
2,Music,1,0,0,1,0,175439,15.0,78741,0,...,4,291,10,18,19,1,7.0,1.0,0,155
3,Music,1,0,0,1,0,771,4.0,78701,1,...,4,291,10,18,21,3,4.5,1.0,0,73
4,Music,1,0,0,1,0,378359,1.0,78701,1,...,4,291,10,18,20,1,6.0,1.0,0,69

In [159]:
# rearrange column orders:
ev_df=ev_df[usecolsX+['votes']]

In [160]:
ev_df.to_csv('Dataset_Lib/ev_do512_101819.csv')

#### Null Data cleanup

In [166]:
ev_df.isnull().sum()

category                 0
past                     0
is_eventbrite            0
is_free                  0
doors                    0
sold_out                 0
venue.id                 0
venue.popularity         0
venue.zip                0
ticket_allages           0
ticket_price_low         0
ticket_price_max         0
min_age                  0
artist.popularity.sum    0
artist.popularity.avg    0
artist.popularity.max    0
dow                      0
doy                      0
month                    0
day                      0
hour                     0
venue.tol_num_events     0
duration                 0
duration_day             0
multiday                 0
votes                    0
dtype: int64

In [165]:
ev_df.min_age=ev_df.min_age.fillna(0)
ev_df.ticket_price_max=ev_df.ticket_price_max.fillna(0)

#### Ecoding data for input:
(1) Convert boolean columns
(2) Convert/map category,
(3) Map the venue id to nullify
(4) Map the zipcode to nullify

In [191]:
boolcol = ev_df.columns[(ev_df.dtypes.values == np.dtype('bool'))]
## convert all boolean columns into 0/1
for cols in boolcol:
    ev_df[cols]=ev_df[cols].astype(int)

C:\Users\z0043H7B\AppData\Local\Continuum\miniconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [195]:
### Conversion of the features
# mapping of the category
mapcat={'Music ': 0, 'Comedy': 1, 'Happy Hour + Drink Specials': 2, "DJ's + Parties": 3, 'Film + TV': 4, 'Karaoke + Trivia': 5, 'Workshops + Classes': 6, 'Community': 7, 'Literary': 8, 'Art & Culture': 9, 'Sports + Activities': 10, 'Food + Drink': 11, 'LGBTQ+': 12, 'Theater': 13, 'Variety / Other': 14, 'Activism': 15, 'Exhibit': 16, 'Opening': 17, 'Fashion': 18, 'Free Week': 19}

for i,line in enumerate(mapcat):
    ev_df.category.replace(line,i,inplace=True)

C:\Users\z0043H7B\AppData\Local\Continuum\miniconda3\lib\site-packages\pandas\core\generic.py:6586: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [238]:
# load back old files and build the library
pf=ParquetFile('full_3rd_eventfeatures_110519.parq')
vnpars=pf.to_pandas()[['venue.zip','venue.id']]

# neutrolize the venue ids:
rank=vnpars['venue.id'].value_counts()
# create the mapping dictionary
cat_list=rank.index.values
encoded_data, mapping_index = pd.Series(cat_list).factorize()

In [242]:
encode_dict=dict(zip(mapping_index,encoded_data))
ev_df['venue.id']=ev_df['venue.id'].map(encode_dict)

C:\Users\z0043H7B\AppData\Local\Continuum\miniconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [259]:
# save out this library
np.save('Dataset_Lib/venue_id_lib.npy', encode_dict) 
# Load method: #read_dictionary = np.load('my_file.npy',allow_pickle='TRUE').item()

In [254]:
nct=max(encoded_data)
fullvn_id=ev_df['venue.id'].values
nvn_id=[]
for item in fullvn_id:
    if np.isnan(item):
        nvn_id+=[int(nct+1)]
        nct+=1
    else: nvn_id+=[int(item)]

In [256]:
ev_df['venue.id']=nvn_id  # place back the venue id nullified

C:\Users\z0043H7B\AppData\Local\Continuum\miniconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [260]:
## clean up the zip codes and make the library
vzip=vnpars['venue.zip'].values
# cleanup the zipcodes
vzip=[str(x).split(' ')[0] for x in vzip]
vzip=['' if x=='Austin' else x for x in vzip]
vzip=['' if x=='nan' else x for x in vzip]
vzip=['' if len(x)<5 else x for x in vzip]
vzip=[int(x) if x.isdigit() else 0 for x in vzip]

In [261]:
vnpars['venue.zip']=vzip

In [262]:
# neutrolize the venue zips:
rank=vnpars['venue.zip'].value_counts()
# create the mapping dictionary
cat_list=rank.index.values
encoded_data, mapping_index = pd.Series(cat_list).factorize()
encode_zip_dict=dict(zip(mapping_index,encoded_data))
ev_df['venue.zip']=ev_df['venue.zip'].map(encode_zip_dict)

C:\Users\z0043H7B\AppData\Local\Continuum\miniconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [264]:
# save out this library
np.save('Dataset_Lib/venue_zip_lib.npy', encode_zip_dict)

In [266]:
# clean up the nan
nct=max(encoded_data)
fullvn_zip=ev_df['venue.zip'].values
nvn_zip=[]
for item in fullvn_zip:
    if np.isnan(item):
        nvn_zip+=[int(nct+1)]
        nct+=1
    else: nvn_zip+=[int(item)]

In [267]:
ev_df['venue.zip']=nvn_zip

C:\Users\z0043H7B\AppData\Local\Continuum\miniconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [268]:
ev_df

,category,past,is_eventbrite,is_free,doors,sold_out,venue.id,venue.popularity,venue.zip,ticket_allages,...,dow,doy,month,day,hour,venue.tol_num_events,duration,duration_day,multiday,votes
0,4,1,0,0,0,0,140,1.0,2,0,...,4,291,10,18,18,1,32.0,2.0,1,418
1,0,1,0,0,1,1,29,15.0,2,1,...,4,291,10,18,19,5,6.5,1.0,0,363
2,0,1,0,0,1,0,70,15.0,8,0,...,4,291,10,18,19,1,7.0,1.0,0,155
3,0,1,0,0,1,0,64,4.0,0,1,...,4,291,10,18,21,3,4.5,1.0,0,73
4,0,1,0,0,1,0,68,1.0,0,1,...,4,291,10,18,20,1,6.0,1.0,0,69
5,0,1,1,0,1,0,2,5.0,0,1,...,4,291,10,18,20,5,6.0,1.0,0,90
6,0,1,0,0,1,0,15,15.0,0,1,...,4,291,10,18,19,69,7.0,1.0,0,79
7,1,1,0,0,0,0,20,1.0,3,0,...,4,291,10,18,22,1,4.0,1.0,0,98
8,1,1,0,0,1,0,40,1.0,0,0,...,4,291,10,18,20,6,5.5,1.0,0,135
9,1,1,0,0,1,0,49,15.0,4,0,...,4,291,10,18,21,4,5.0,1.0,0,127
10,1,1,0,0,1,0,40,1.0,0,0,...,4,291,10,18,22,6,3.5,1.0,0,109
11,0,1,1,0,1,0,13,4.0,0,1,...,4,291,10,18,20,45,6.0,1.0,0,57
12,1,1,1,0,0,0,28,1.0,0,0,...,4,291,10,18,19,1,6.5,1.0,0,79
13,1,1,0,1,1,0,848,1.0,1,0,...,4,291,10,18,20,1,6.0,1.0,0,80
14,7,1,0,0,0,0,124,1.0,1,1,...,4,291,10,18,17,4,8.5,1.0,0,69
15,0,1,0,0,0,0,11,15.0,0,0,...,4,291,10,18,20,1,6.0,1.0,0,18
16,0,1,0,1,0,0,79,10.0,6,0,...,4,291,10,18,17,53,9.0,1.0,0,22
17,10,1,0,1,0,0,1614,1.0,1,0,...,4,291,10,18,19,1,7.0,1.0,0,51
18,1,1,0,0,0,0,59,1.0,7,0,...,4,291,10,18,18,1,7.5,1.0,0,13
19,0,1,0,1,0,0,1615,1.0,13,0,...,4,291,10,18,20,1,6.0,1.0,0,7
20,3,1,0,0,0,0,18,15.0,2,0,...,4,291,10,18,22,1,4.0,1.0,0,6
21,0,1,0,1,0,0,47,10.0,1,0,...,4,291,10,18,20,1,3.0,1.0,0,5
22,0,1,1,1,1,0,1616,1.0,2,0,...,4,291,10,18,21,1,5.0,1.0,0,5
23,3,1,0,0,0,0,1617,1.0,69,0,...,4,291,10,18,20,1,8.0,1.0,0,17
24,0,1,0,1,0,0,1618,1.0,3,0,...,4,291,10,18,19,1,2.0,1.0,0,6

In [269]:
# Load back to the X scalar
import joblib
scalar = joblib.load('MinMaxScalar_111819.pkl')

In [270]:
udf=ev_df[usecolsX]

In [271]:
X=scalar.transform(udf)

In [203]:
# a function to create udf_y based on 3 classes: low, mid, high
def get_class(df,thre1,thre2):
    n=len(df)
    newdf=[]
    cut1=min([thre1,thre2])
    cut2=max([thre1,thre2])
    for item in df:
        if item<cut1: newdf+=[0]
        elif (item<cut2) and (item>=cut1):newdf+=[1]
        else: newdf+=[2]
    return newdf

In [281]:
y=get_class(ev_df['votes'].values,80,300)

In [273]:
# Load the model and then predict
filename = 'finalized_model111819.sav'
model=pickle.load(open(filename, 'rb'))

In [280]:
y_pred=model.predict(X)

In [275]:
y_pred_prob=model.predict_proba(X)

In [283]:
result=list(zip(y,y_pred,ev_df['votes'].values,y_pred_prob[:,0],y_pred_prob[:,1],y_pred_prob[:,2]))

In [284]:
result_df=pd.DataFrame(result,columns=['class actual','class predicted','actual votes','probability in class0','probability in class1','probability in class2'])

In [289]:
result_df.sort_values(by=['actual votes'], ascending=False)

,class actual,class predicted,actual votes,probability in class0,probability in class1,probability in class2
0,2,0,418,0.873847,0.096513,0.029640
1,2,1,363,0.379554,0.505427,0.115020
2,1,0,155,0.737837,0.232163,0.030000
8,1,1,135,0.272450,0.724494,0.003056
9,1,0,127,0.521138,0.436204,0.042659
10,1,1,109,0.294021,0.685324,0.020655
7,1,0,98,0.834246,0.154643,0.011111
5,1,0,90,0.499785,0.423187,0.077027
13,1,1,80,0.340754,0.616905,0.042341
12,0,0,79,0.964225,0.031980,0.003796
6,0,0,79,0.867778,0.109187,0.023036
3,0,0,73,0.879841,0.097143,0.023016
4,0,0,69,0.834785,0.115628,0.049587
14,0,0,69,0.922381,0.031746,0.045873
11,0,0,57,0.830992,0.159286,0.009722
17,0,0,51,0.985790,0.012814,0.001396
16,0,0,22,0.976786,0.010218,0.012996
15,0,0,18,0.915893,0.070635,0.013472
23,0,0,17,0.705952,0.017857,0.276190
18,0,0,13,0.721984,0.060516,0.217500
19,0,0,7,0.952293,0.034671,0.013036
20,0,0,6,0.963512,0.011409,0.025079
24,0,0,6,0.954484,0.009583,0.035933
21,0,0,5,0.983393,0.015417,0.001190
22,0,0,5,0.976062,0.016716,0.007222

In [290]:
result_df.sort_values(by=['class predicted','probability in class1'], ascending=False)

,class actual,class predicted,actual votes,probability in class0,probability in class1,probability in class2
8,1,1,135,0.272450,0.724494,0.003056
10,1,1,109,0.294021,0.685324,0.020655
13,1,1,80,0.340754,0.616905,0.042341
1,2,1,363,0.379554,0.505427,0.115020
9,1,0,127,0.521138,0.436204,0.042659
5,1,0,90,0.499785,0.423187,0.077027
2,1,0,155,0.737837,0.232163,0.030000
11,0,0,57,0.830992,0.159286,0.009722
7,1,0,98,0.834246,0.154643,0.011111
4,0,0,69,0.834785,0.115628,0.049587
6,0,0,79,0.867778,0.109187,0.023036
3,0,0,73,0.879841,0.097143,0.023016
0,2,0,418,0.873847,0.096513,0.029640
15,0,0,18,0.915893,0.070635,0.013472
18,0,0,13,0.721984,0.060516,0.217500
19,0,0,7,0.952293,0.034671,0.013036
12,0,0,79,0.964225,0.031980,0.003796
14,0,0,69,0.922381,0.031746,0.045873
23,0,0,17,0.705952,0.017857,0.276190
22,0,0,5,0.976062,0.016716,0.007222
21,0,0,5,0.983393,0.015417,0.001190
17,0,0,51,0.985790,0.012814,0.001396
20,0,0,6,0.963512,0.011409,0.025079
16,0,0,22,0.976786,0.010218,0.012996
24,0,0,6,0.954484,0.009583,0.035933

In [292]:
result_df.to_csv('101819_evdo512Pred_result.csv')

In [286]:
#  check the confusion matrix
a=precision_recall_fscore_support(y, y_pred)
print("confusion matrix:")
print(confusion_matrix(y,y_pred))
print(classification_report(y,y_pred))

C:\Users\z0043H7B\AppData\Local\Continuum\miniconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

confusion matrix:
[[16  0  0]
 [ 4  3  0]
 [ 1  1  0]]
              precision    recall  f1-score   support

           0       0.76      1.00      0.86        16
           1       0.75      0.43      0.55         7
           2       0.00      0.00      0.00         2

    accuracy                           0.76        25
   macro avg       0.50      0.48      0.47        25
weighted avg       0.70      0.76      0.71        25

In [287]:
f1s=a[2]
print("weighted average f1 score: ",(f1s[0]+f1s[1]*2+f1s[2]*3)/6)

weighted average f1 score:  0.32596232596232594