##### Parse the artist conent and Observe the aritists poularity, see if it make sense

In [1]:
import json
from bson.json_util import dumps
import pandas as pd
from fastparquet import ParquetFile,write
import time

In [2]:
pf=ParquetFile('artists.parq')
art=pf.to_pandas()

In [4]:
art.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41865 entries, 0 to 41864
Data columns (total 2 columns):
event_id       41865 non-null int64
artist_json    41865 non-null object
dtypes: int64(1), object(1)
memory usage: 654.2+ KB

In [3]:
art.iloc[11,0]

11163738

In [6]:
e_art_json=art['artist_json']

In [7]:
e_art_json[15891]  #check an example of artist info

[{'id': 2067881,
  'title': 'Harvey McLaughlin',
  'permalink': '/artists/harvey-mclaughlin',
  'data_path': '/artists/2067881/quickie',
  'description': '\'Tabloid News\' is the debut solo album by San Antonio born and based singer and songwriter Harvey McLaughlin. The album represents something of a throwback to the 1970\'s piano based long players by the likes of greats such as Warren Zevon, Randy Newman and Tom Waits with nods to New Orleans R&amp;B and Chicano Soul while maintaining the urgency of the young roots rock bands bands that Harvey has honed his craft and musicianship with over the last dozen years. He only half-jokingly admits "I want to play the piano the way Link Wray plays the guitar."\r\n\r\nThematically the album draws on McLaughlin\'s fascination with pulp magazines and urban legends as seen through the eyes of a young but weary romantic. McLaughlin says “I’ve made a career out of writing about dragons, ghost trains, dodo birds, banshee queens, chupacabras, and other such quasi-cryptic conundrums that seem to populate the fringes of our collective news consciousness...Back when everything you read in the newspaper was just as vibrant and believable as the word of mouth passed on the street, in a barber shop, or around a camp fire - when tall tales were the best kind of story formed currency.”',
  'hometown': 'San Antonio, TX',
  'popularity': 1.0,
  'youtube_id': '',
  'spotify_id': None},
 {'id': 2192438,
  'title': 'Burger Patrol',
  'permalink': '/artists/burger-patrol',
  'data_path': '/artists/2192438/quickie',
  'description': None,
  'hometown': None,
  'popularity': 1.0,
  'youtube_id': None,
  'spotify_id': None}]

In [8]:
#create a artist library
artist_rec=pd.DataFrame(columns=['name','do512_id','popularity','nev_on512','on_youtube','on_spotify','hometown'])

art_id=[]
art_name=[]  # get the event counts for per artist
art_pop=[]
art_yt=[]
art_sptf=[]
art_ht=[]

for item in e_art_json:
    if len(item)!=0:

        if len(item)==1:
            dart=json.loads(dumps(item))[0]
            art_id+=[dart['id']]
            art_name+=[dart['title']]
            art_pop+=[dart['popularity']]
            art_ht+=[dart['hometown']]
            if 'youtube_id' in dart.keys():
                if (dart['youtube_id']) and (len(dart['youtube_id'])>0):
                    art_yt+=[True]
                else:
                    art_yt+=[False]
            if 'spotify_id' in dart.keys():
                if (dart['spotify_id']) and (len(dart['spotify_id'])>0):
                    art_sptf+=[True]
                else:
                    art_sptf+=[False]
        else:
            for sub in item:
                if len(sub)!=0:
                    dart=json.loads(dumps(sub))
                    art_id+=[dart['id']]
                    art_name+=[dart['title']]
                    art_pop+=[dart['popularity']]
                    art_ht+=[dart['hometown']]
                    if 'youtube_id' in dart.keys():
                        if (dart['youtube_id']) and (len(dart['youtube_id'])>0):
                            art_yt+=[True]
                        else:
                            art_yt+=[False]
                    if 'spotify_id' in dart.keys():
                        if (dart['spotify_id']) and (len(dart['spotify_id'])>0):
                            art_sptf+=[True]
                        else:
                            art_sptf+=[False]

In [9]:
artist_rec['name']=art_name
artist_rec['do512_id']=art_id
artist_rec['popularity']=art_pop
artist_rec['hometown']=art_ht
artist_rec['on_youtube']=art_yt
artist_rec['on_youtube']=art_sptf

In [10]:
s=artist_rec.name.value_counts()

In [14]:
# put the event counts back to the dataframe
for artist in s.index.values:
    artist_rec.loc[artist_rec['name']==artist,'nev_on512']=s[artist]

In [15]:
artist_rec.drop_duplicates(subset='do512_id',keep=False,inplace=True)

In [16]:
# sort artists by popularity: show the popularity by the popularity rating on 512
artist_rec.sort_values(by='popularity',axis=0, ascending=False).head(100)

,name,do512_id,popularity,nev_on512,on_youtube,on_spotify,hometown
7849,Young The Giant,99129,108669.0,1,True,NaN,
1670,Ben Folds,4000,100142.0,1,True,NaN,
7850,Fitz and The Tantrums,214064,97652.0,1,True,NaN,Los Angeles
33128,Brian Wilson,105518,94709.0,1,True,NaN,"Los Angeles, CA"
30354,The Flaming Lips,34248,79420.0,1,True,NaN,"Oklahoma City, Oklahoma"
15872,Ludacris,71998,75858.0,1,True,NaN,
27203,Metric,54101,73501.0,1,True,NaN,"Toronto, NYC, Oakland"
9470,LOCAL NATIVES,49854,65236.0,1,True,NaN,"Los Angeles, CA"
13332,Yeah Yeah Yeahs,32566,52488.0,1,True,NaN,"New York, NY"
36208,TV On The Radio,3416,51489.0,1,True,NaN,
1882,Flying Lotus,58873,49772.0,1,True,NaN,"Los Angeles, CA"
1889,Phantogram,47507,48350.0,1,True,NaN,"Saratoga Springs, NY"
13192,Chromeo,37193,47764.0,1,True,NaN,
30309,Atmosphere,14587,46838.0,1,True,NaN,"Minneapolis, MN"
5765,ALICE COOPER,42413,46121.0,1,True,NaN,"Phoenix, AZ"
3571,Dr. Dog,32451,45532.0,1,True,NaN,
7983,YEASAYER,37147,42378.0,1,True,NaN,"Brooklyn, New York"
36803,Dawes,45062,41617.0,1,True,NaN,"Los Angeles, CA"
13099,Trombone Shorty & Orleans Avenue,40927,32944.0,1,False,NaN,"New Orleans, LA"
5925,SLIGHTLY STOOPID,39695,32505.0,1,True,NaN,"Ocean Beach, San Diego, CA"
3872,Yelawolf,58605,31994.0,1,True,NaN,"Gadsden, AL"
3723,Mogwai,42822,30808.0,1,True,NaN,"Glasgow, Scotland United Kingdom"
31882,Nero,70662,27473.0,1,True,NaN,"London, ENG"
31182,BOYS NOIZE,16488,26690.0,1,True,NaN,Berlin
6037,Beck,42356,26409.0,1,True,NaN,"Los Angeles, CA"
1669,Cake,42069,26263.0,1,True,NaN,"Sacramento, CA"
8103,Coheed And Cambria,14387,26073.0,1,True,NaN,"New York, NY"
4681,Blues Traveler,42803,25899.0,1,True,NaN,
15001,The Tallest Man on Earth,132553,25273.0,1,True,NaN,"Dalarna, Sweden"
33989,KURT VILE,41073,24104.0,1,True,NaN,Philadelphia
...,...,...,...,...,...,...,...
5559,BLINK-182,133367,10263.0,1,True,NaN,"San Diego, CA"
36082,Phosphorescent,41211,10179.0,1,True,NaN,"Brooklyn, NY"
9302,Weird Al Yankovic,64080,9955.0,1,False,NaN,"LOS ANGELES, CA"
13958,Earl Sweatshirt,132314,9572.0,1,True,NaN,
17555,Martina McBride,38314,9554.0,1,True,NaN,"Sharon, KS"
8104,Mastodon,34702,9536.0,1,True,NaN,"Atlanta, GA"
35044,Ferry Corsten,41881,9161.0,1,True,NaN,"Rotterdam, The Netherlands"
24722,Break Science,532451,9142.0,1,True,NaN,"Brooklyn, NY"
31883,Feed Me,505275,9111.0,1,True,NaN,"London, ENG"
12841,North Mississippi Allstars,40016,8924.0,1,True,NaN,"Hernando, MS"
38707,Honne,783584,8595.0,1,True,NaN,"Bow, London"
40319,Milo Greene,165787,8385.0,1,True,NaN,"Los Angeles, CA"
25255,Real Estate,48054,8349.0,1,True,NaN,
35810,Lissie,41094,8286.0,1,True,NaN,"Rock Island, IL"
37524,ST. LUCIA,216453,8255.0,1,True,NaN,"New York, NY"
33153,Honey Island Swamp Band,55089,8118.0,1,True,NaN,"New Orleans, LA"
28829,J Roddy Walston & The Business,122168,8062.0,1,True,NaN,"Baltimore, MD"
774,Big K.R.I.T.,161219,7998.0,1,True,NaN,"Meridian, MS"
17259,Yonder Mountain String Band,35585,7908.0,1,True,NaN,"Nederland, CO"
29525,Devotchka,32442,7860.0,1,True,NaN,"Denver, CO"
25386,"Earth, Wind, & Fire",160053,7832.0,1,True,NaN,"Chicago, IL"
7480,Futurebirds,52074,7796.0,1,True,NaN,"Athens, GA"
17268,3lau,413733,7768.0,1,True,NaN,Las Vegas
27214,Jukebox the Ghost,40207,7736.0,1,True,NaN,"New York, NY"
27246,LP,163214,7691.0,1,True,NaN,"Los Angeles, CA"
2522,Raphael Saadiq,32576,7677.0,1,True,NaN,"North Hollywood, California"
1786,Lord Huron,109443,7597.0,1,True,NaN,"Okemos, MI"
13200,Violent Femmes,120189,7510.0,1,True,NaN,"Milwaukee, Wisconsin"
26421,Dan Deacon,6111,7466.0,1,True,NaN,"Baltimore, MD"
7582,New Found Glory,34915,7395.0,1,True,NaN,"Coral Springs, FL"

In [47]:
evvt=pd.read_csv('event_votes.csv')
evvt=evvt.set_index('id')
evvt['evid']=evvt.index.values
evvt.drop_duplicates(subset='evid',inplace=True)

In [57]:
# add votes column to artist_record
artist_rec['ev_votes']=[[] for x in range(len(artist_rec))]

In [58]:
# link artist popularity by the events they went and the event vote
# loop through the artist json for the index on event id
for i,item in enumerate(e_art_json):
    art_ind_evvot=[]
    if len(item)!=0:
        if len(item)==1:
            art_id=json.loads(dumps(item))[0]['id'] # get artist id
            # get event id
            evid=art.iloc[i,0]
            # get event votes
            evvotes=evvt.loc[evid,:][0]
            artist_rec.loc[artist_rec['do512_id']==art_id,'ev_votes']=artist_rec.loc[artist_rec['do512_id']==art_id,'ev_votes']+[evvotes] # save votes back to artist
        else:
            for sub in item:
                if len(sub)!=0:
                    art_id=json.loads(dumps(sub))['id'] # get artist id
                     # get event id
                    evid=art.iloc[i,0]
                    # get event votes
                    evvotes=evvt.loc[evid,:][0]
                    artist_rec.loc[artist_rec['do512_id']==art_id,'ev_votes']=artist_rec.loc[artist_rec['do512_id']==art_id,'ev_votes']+[evvotes] # save votes back to artist

In [50]:
artist_rec.loc[artist_rec['do512_id']==48401,'ev_votes']=artist_rec.loc[artist_rec['do512_id']==48401,'ev_votes']+[1]

In [55]:
artist_rec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8212 entries, 12 to 40386
Data columns (total 8 columns):
name          8212 non-null object
do512_id      8212 non-null int64
popularity    8212 non-null float64
nev_on512     8212 non-null int64
on_youtube    8212 non-null bool
on_spotify    0 non-null object
hometown      4368 non-null object
ev_votes      8212 non-null object
dtypes: bool(1), float64(1), int64(2), object(4)
memory usage: 521.3+ KB

In [61]:
artist_rec=artist_rec.sort_values(by='popularity',axis=0, ascending=False)

In [62]:
artist_rec.head(50)

,name,do512_id,popularity,nev_on512,on_youtube,on_spotify,hometown,ev_votes
7849,Young The Giant,99129,108669.0,1,True,NaN,,[739]
1670,Ben Folds,4000,100142.0,1,True,NaN,,[479]
7850,Fitz and The Tantrums,214064,97652.0,1,True,NaN,Los Angeles,[739]
33128,Brian Wilson,105518,94709.0,1,True,NaN,"Los Angeles, CA",[29]
30354,The Flaming Lips,34248,79420.0,1,True,NaN,"Oklahoma City, Oklahoma",[623]
15872,Ludacris,71998,75858.0,1,True,NaN,,[55]
27203,Metric,54101,73501.0,1,True,NaN,"Toronto, NYC, Oakland",[316]
9470,LOCAL NATIVES,49854,65236.0,1,True,NaN,"Los Angeles, CA",[821]
13332,Yeah Yeah Yeahs,32566,52488.0,1,True,NaN,"New York, NY",[140]
36208,TV On The Radio,3416,51489.0,1,True,NaN,,[354]
1882,Flying Lotus,58873,49772.0,1,True,NaN,"Los Angeles, CA",[376]
1889,Phantogram,47507,48350.0,1,True,NaN,"Saratoga Springs, NY",[133]
13192,Chromeo,37193,47764.0,1,True,NaN,,[574]
30309,Atmosphere,14587,46838.0,1,True,NaN,"Minneapolis, MN",[238]
5765,ALICE COOPER,42413,46121.0,1,True,NaN,"Phoenix, AZ",[29]
3571,Dr. Dog,32451,45532.0,1,True,NaN,,[622]
7983,YEASAYER,37147,42378.0,1,True,NaN,"Brooklyn, New York",[170]
36803,Dawes,45062,41617.0,1,True,NaN,"Los Angeles, CA",[179]
13099,Trombone Shorty & Orleans Avenue,40927,32944.0,1,False,NaN,"New Orleans, LA",[31]
5925,SLIGHTLY STOOPID,39695,32505.0,1,True,NaN,"Ocean Beach, San Diego, CA",[39]
3872,Yelawolf,58605,31994.0,1,True,NaN,"Gadsden, AL",[172]
3723,Mogwai,42822,30808.0,1,True,NaN,"Glasgow, Scotland United Kingdom",[191]
31882,Nero,70662,27473.0,1,True,NaN,"London, ENG",[58]
31182,BOYS NOIZE,16488,26690.0,1,True,NaN,Berlin,[78]
6037,Beck,42356,26409.0,1,True,NaN,"Los Angeles, CA",[1054]
1669,Cake,42069,26263.0,1,True,NaN,"Sacramento, CA",[479]
8103,Coheed And Cambria,14387,26073.0,1,True,NaN,"New York, NY",[226]
4681,Blues Traveler,42803,25899.0,1,True,NaN,,[192]
15001,The Tallest Man on Earth,132553,25273.0,1,True,NaN,"Dalarna, Sweden",[103]
33989,KURT VILE,41073,24104.0,1,True,NaN,Philadelphia,[629]
5297,Nas,127793,22658.0,1,True,NaN,"Queensbridge, New York",[540]
35758,Death From Above,131558,22123.0,1,True,NaN,"Toronto, ON, Canada",[73]
30468,LAIDBACK LUKE,78079,21623.0,1,True,NaN,Amsterdam,[73]
348,Iron and Wine,42805,20906.0,1,True,NaN,,[415]
18103,Ice Cube,712822,19630.0,1,True,NaN,"Los Angeles, CA",[34]
25392,Joan Jett & The Blackhearts,34907,19465.0,1,True,NaN,"New York, NY",[37]
35849,of Montreal,6098,19293.0,1,True,NaN,"Athens, GA",[128]
8734,ZHU,181570,19078.0,1,True,NaN,,[573]
13639,Rodrigo y Gabriela,36098,18715.0,1,True,NaN,Mexico City,[47]
29749,Rebelution,43806,18073.0,1,True,NaN,,[221]
38479,Wavves,45386,17038.0,1,True,NaN,San Diego CA,[115]
17949,Switchfoot,35771,16977.0,1,True,NaN,"San Diego, CA",[100]
27632,Dropkick Murphys,40151,16841.0,1,True,NaN,"Boston, MA",[368]
35314,SOJA,53939,16489.0,1,True,NaN,"Arlington, VA",[70]
15175,Beats Antique,44129,15736.0,1,True,NaN,Oakland,[147]
34696,Cat Power,177903,15470.0,1,True,NaN,"Atlanta, GA",[424]
34305,Minus The Bear,34783,15406.0,1,True,NaN,"Seattle, WA",[65]
12643,Deer Tick,32466,15063.0,1,True,NaN,,[215]
14579,Peter Bjorn and John,19456,14976.0,1,True,NaN,North Sweden,[90]
36358,Wolfmother,38278,14815.0,1,True,NaN,Australia,[224]

In [63]:
artist_rec.to_csv('Do512Artists.csv')